<h1>Hangman</h1>
<p>Find the hidden word - Enter a letter</p>
<div class="game-container">
  <svg height="250" width="200" class="figure-container">
    <!-- Rod -->
    <line x1="60" y1="20" x2="140" y2="20" />
    <line x1="140" y1="20" x2="140" y2="50" />
    <line x1="60" y1="20" x2="60" y2="230" />
    <line x1="20" y1="230" x2="100" y2="230" />

    <!-- Head -->
    <circle cx="140" cy="70" r="20" class="figure-part" #figurePart />

    <!-- Body -->
    <line x1="140" y1="90" x2="140" y2="150" class="figure-part" #figurePart />

    <!-- Arms -->
    <line x1="140" y1="120" x2="120" y2="100" class="figure-part" #figurePart />
    <line x1="140" y1="120" x2="160" y2="100" class="figure-part" #figurePart />

    <!-- Legs -->
    <line x1="140" y1="150" x2="120" y2="180" class="figure-part" #figurePart />
    <line x1="140" y1="150" x2="160" y2="180" class="figure-part" #figurePart />
  </svg>

  <div class="wrong-letters-container">
    <div>
      <p>Wrong Letter:</p>
      <div *ngFor="let wrongLetter of wrongLetters">{{ wrongLetter }}</div>
    </div>
  </div>

  <div class="word">
    <div class="letter" *ngFor="let letter of mappedSelectedWord">
      {{ letter }}
    </div>
  </div>
</div>

<!-- Container for final messages -->
<div [ngClass]="{ 'popup-container': wordsMatch || finalMessage }">
  <div [ngClass]="{ popup: wordsMatch || finalMessage }">
    <h2 *ngIf="wordsMatch">You Have Won  <span style="font-weight: normal;">😄</span></h2>
    <h2 *ngIf="finalMessage">Unfortunately, you have lost <span style="font-weight: normal;"> 😔</span></h2>
    <button *ngIf="wordsMatch || finalMessage" (click)="playAgain()">
      Play Again
    </button>
  </div>
</div>

<!-- Notification -->
<div [ngClass]="{ 'notification-container': letterTyped }">
  <p *ngIf="letterTyped">You have already entered this letter</p>
</div>
